.menus {
    svg {
        color: #888;
        cursor: pointer;
        font-size: 18px;
        &:hover {
            color: red;
        }
    }
    > div span + span {
        margin-left: 5px;
    }
    > div {
        position: absolute;
        right: 0;
        top: 15px;
        padding: 5px 10px;
        background: black;
        border-radius: 5px;
        box-shadow: 1px 1px 10px #00000010;
        z-index: 1000;
        display: flex;
        align-items: center;
        line-height: 15px;
        &.noDots {
            position: static;
            background: none;
            box-shadow: none;
            color: black;
            display: block;
            padding-top: 0;
            > span {
                display: block;
                margin-left: 0;
                &+span {
                    margin-top: 5px;
                }
            }
            svg {
                color: #00000090;
                &:hover {
                    color: black
                }
            }
        }
        svg {
            color: white;
            & + svg {
                margin-left: 10px;
            }
            &:hover {
                color: #ccc;
            }
        }
    }
}